.App-logo {
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.App{
  min-height: 100vh;
  text-align: center;
  transition: 0.5s ease;
}
.App.Hot{
  background:no-repeat center /100% url("../assets/img/SoHot.svg");
}
.App.Rainy{
  background:no-repeat center /100% url("../assets/img/Rainy.svg");
}
.App.Night{
  background:no-repeat center /100% url("../assets/img/Night.svg");
}

.Main{
  min-height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.25), rgba(0,0,0, 0.55));
  padding: 25px;
}